{
  "presets": [
    "@babel/preset-env",
    "es2015"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      { "loose": false }
    ],
    [
      "transform-object-rest-spread"
    ]
  ]
}

