/**
 * 页面常用样式
 */
html,
body,
div,
p,
article,
h1,
h2,
h3,
h4,
h5,
h6,
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

// 单行截断
.line-clamp1 {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 文本不换行
.txt-nowrap {
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
}

.wp100 {
  width: 100% !important;
}

.hp100 {
  height: 100% !important;
}
