@import "variables";

$lightTheme: (
  /*字体*/
  font-size-12: $font-12,
  font-color-gray: $color-white,
  /*颜色*/
  bg-color-main: $bg-red
);

$darkTheme: (
  /*字体*/
  font-size-12: $font-12,
  font-color-gray: $color-gray,
  /*颜色*/
  bg-color-main: $bg-dark
);

$themes: (
  lightTheme: $lightTheme,
  darkTheme: $darkTheme,
);
