// ----------------- 颜色
$main-color: rgb(12, 166, 156); // 主色
$color-white: #fff; // 白色
$color-red: red; // 红色
$color-gray: rgb(147, 149, 154);
$color-dark: rgb(13, 21, 32); //

// ----------------- 尺寸

$size-10px: 10px;
$size-12px: 12px;
$size-14px: 12px;
$size-16px: 16px;
$size-18px: 18px;

// ------------------ 字号

$font-10: $size-10px;
$font-12: $size-12px;
$font-14: $size-14px;
$font-16: $size-16px;
$font-18: $size-18px;

// ------------------ 背景色设置
$bg-white: $color-white;
$bg-dark: $color-dark;
$bg-red: $color-red;




